<ion-view view-title="修改密码" hide-nav-bar="true">
    <ion-nav-buttons>
        <div id="goodslist_backBtn" class="ion-chevron-left" ng-click="changePassword.goPrev()">
            <em>返回</em>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <article id="changePassword_article" ng-form="changePassword.formCheck">
            <section class="inputPassWord_sec">
                <div>
                    <input type="password" name="oldPwd" placeholder="请输入6-16位旧密码" required ng-model="changePassword.item.oldPwd" restrict-length data="changePassword.item.oldPwd">
                </div>
                <div>
                    <input type="password" name="newPwd" placeholder="请输入6-16位新密码" required ng-model="changePassword.item.newPwd">
                    <!--  <span class="has_error" ng-if="formCheck.newPwd.$invalid">请输入6-16位密码</span> -->
                    <!-- <span class="has_error" ng-if="changePassword.formCheck.newPwd.$error.maxlength">密码不能超过16个字符</span> -->
                    <span class="has_error" ng-if="changePassword.formCheck.newPwd.$error.minlength">密码至少为6个字符</span>
                    <span class="has_error" ng-if="changePassword.isPswWrong && changePassword.item.newPwd.length>6">密码过于简单</span>
                </div>
                <div>
                    <input type="password" name="newPwdAgain" placeholder="请再次输入6-16位新密码" ng-minlength="6" required ng-model="changePassword.item.newPwdAgain">
                    <!--  <span class="has_error" ng-if="formCheck.newPwd.$invalid">请输入6-16位密码</span> -->
                    <span class="has_error" ng-if="changePassword.formCheck.newPwdAgain.$error.maxlength">密码不能超过16个字符</span>
                    <span class="has_error" ng-if="changePassword.formCheck.newPwdAgain.$error.minlength">密码至少为6个字符</span>
                    <span class="has_error" ng-if="changePassword.formCheck.newPwdAgain.$error.isSame">两次密码输入不一致</span>
                    <span></span>
                </div>
            </section>
            <footer id="changePass_Footer">
                <div ng-class="{'btnInvalid':changePassword.formCheck.$invalid}" class="btn_confirmPass" ng-disabled="changePassword.formCheck.$invalid" ng-click="changePassword.submitPwd()">
                    确认
                </div>
            </footer>
        </article>
    </ion-content>
</ion-view>
