<ion-view view-title="设置新密码" hide-nav-bar="true">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button>
            <!-- <i class="ion-ios-arrow-left"></i> -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content id="newPassWord">
        <div ng-form="passWordForm" novalidate class="passwordCheck">
            <div>
                <input type="password" placeholder="请输入6-16位新的密码" name="account" ng-model="newPassWord.newPwd" ng-minlength=6 ng-maxlength=20 required>
                <p>
                    <!-- <span class="errorTip" ng-if="passWordForm.account.$error.required">请输入密码 </span> -->
                    <span class="errorTip" ng-if="passWordForm.account.$error.minlength || passWordForm.account.$error.maxlength">密码长度为6-16位</span>
                    <span class="errorTip" ng-if="newPassWord.isPswWrong && newPassWord.newPwd.length>6">密码过于简单</span>
                </p>
            </div>
            <div>
                <input type="password" placeholder="请再次输入6-16位新的密码" name="accountTwo" ng-model="newPassWord.confirmPwd" required>
                <p>
                    <!-- <span class="errorTip" ng-if="passWordForm.accountTwo.$error.required">请再次输入密码</span> -->
                    <span class="errorTip" ng-if="newPassWord.same">两次密码不一致</span>
                </p>
            </div>
            <a class="login button button-positive" ng-disabled="passWordForm.account.$invalid||passWordForm.accountTwo.$invalid||newPassWord.same" ng-click="newPassWord.modifyPwd()">完成</a>
        </div>
    </ion-content>
</ion-view>
